form {
    width: 300px;
}
input {
    width: 200px;
}
textarea{
    max-width: 300px;
    max-height: 300px;
}
input:focus, textarea:focus{
    outline: none;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
}
::placeholder{
    color: red;
    opacity: 1;
}
