table {
    width: 400px;
    border-spacing: 2px;
}
th {
    text-align: left;
}
table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td{
    padding: 5px;
}
tr:nth-child(odd){
    background-color: #fff;
}
tr:nth-child(even){
    background-color: grey;
}
